<!-- app/views/events/show.html.erb -->

<div class="container">
  <h1 class="my-4"><%= @event.title %></h1>

  <div class="row">
    <div class="col-md-6">
      <p><strong>Date de début :</strong> <%= @event.start_date %></p>
      <p><strong>Durée :</strong> <%= @event.duration %> minutes</p>
      <p><strong>Prix :</strong> <%= @event.price %> €</p>
      <p><strong>Lieu :</strong> <%= @event.location %></p>
      <p><strong>Description :</strong> <%= @event.description %></p>
      <p><strong>Organisateur :</strong> <%= @event.admin.first_name %></p>
      <!-- Ajoutez d'autres informations de l'événement ici -->
    </div>
    
    <!-- Lien pour voir tous les participants -->
    <%= link_to "Voir les participations", event_attendances_path(event_id: @event.id, event_title: @event.title) %>
    <!-- Bouton pour passer commande -->
    <%= button_to "Passer commande (NEXT GEN)", checkout_create_path(total: @event.price, event_id: @event.id), class: "btn btn-primary", data: {turbo: false} %>
  </div>
</div>
